In [1]:
import pandas as pd
import json

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [ ]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

backers_info_df = pd.read_csv("backer_info.csv")
backers_info_df

In [ ]:
# Iterate through the backers DataFrame and convert each row to a dictionary.
backers_dictionary = []
for i, row in backers_info_df.iterrows():
    data = row['backer_info']
    converted_data = json.loads(data)
    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    row_values = [v for k, v in converted_data.items()]
        
    # Append the list of values for each row to a list. 
    backers_dictionary.append(row_values)

# Print out the list of values for each row.
backers_dictionary

In [ ]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists. 
backers_df = pd.DataFrame(backers_dictionary, columns=['backer_id','cf_id', 'name', 'email'])
backers_df.head(10)

In [ ]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backers_df.to_csv("backers_data.csv", encoding='utf8', index=False)

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [2]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backers_info_df = pd.read_csv("backer_info.csv")
backers_info_df

                                                                                             backer_info
0           {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1           {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2             {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3     {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4                  {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}
...                                                                                                  ...
8170     {"backer_id": "st581", "cf_id": 65, "name": "Serita Thebault", "email": "sthebault@yandex.com"}
8171    {"backer_id": "gf637", "cf_id": 563, "name": "Glenn Foerstner", "email": "gfoerstner@yahoo.com"}
8172        {"backer_id": "rc983", "cf_id": 1114, "name": "Robt Collin", "email": "rcollin@outlook.com"}
8173          {"backer_id": "cz381", "cf_id": 65, "name": "Corina Zappa", "email": "czappa@outlook.com"}
8174         {"backer_id": "fg535", "cf_id": 65, "name": "Freeman Gibbs", "email": "fgibbs@outlook.com"}

[8175 rows x 1 columns]

In [3]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".
backers_info_df['backer_id'] = backers_info_df['backer_info'].str.extract(r'([a-z]+\d+)')
backers_info_df

,backer_info,backer_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506
...,...,...
8170,"{""backer_id"": ""st581"", ""cf_id"": 65, ""name"": ""Serita Thebault"", ""email"": ""sthebault@yandex.com""}",st581
8171,"{""backer_id"": ""gf637"", ""cf_id"": 563, ""name"": ""Glenn Foerstner"", ""email"": ""gfoerstner@yahoo.com""}",gf637
8172,"{""backer_id"": ""rc983"", ""cf_id"": 1114, ""name"": ""Robt Collin"", ""email"": ""rcollin@outlook.com""}",rc983
8173,"{""backer_id"": ""cz381"", ""cf_id"": 65, ""name"": ""Corina Zappa"", ""email"": ""czappa@outlook.com""}",cz381
8174,"{""backer_id"": ""fg535"", ""cf_id"": 65, ""name"": ""Freeman Gibbs"", ""email"": ""fgibbs@outlook.com""}",fg535

In [4]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".
backers_info_df['cf_id'] = backers_info_df['backer_info'].str.extract(r'([\s+]\d+)')
backers_info_df

,backer_info,backer_id,cf_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563
...,...,...,...
8170,"{""backer_id"": ""st581"", ""cf_id"": 65, ""name"": ""Serita Thebault"", ""email"": ""sthebault@yandex.com""}",st581,65
8171,"{""backer_id"": ""gf637"", ""cf_id"": 563, ""name"": ""Glenn Foerstner"", ""email"": ""gfoerstner@yahoo.com""}",gf637,563
8172,"{""backer_id"": ""rc983"", ""cf_id"": 1114, ""name"": ""Robt Collin"", ""email"": ""rcollin@outlook.com""}",rc983,1114
8173,"{""backer_id"": ""cz381"", ""cf_id"": 65, ""name"": ""Corina Zappa"", ""email"": ""czappa@outlook.com""}",cz381,65
8174,"{""backer_id"": ""fg535"", ""cf_id"": 65, ""name"": ""Freeman Gibbs"", ""email"": ""fgibbs@outlook.com""}",fg535,65

In [5]:
# Extract the name from the backer_info column and add it as a new column called "name".
backers_info_df['name'] = backers_info_df['backer_info'].str.extract(r'([^name\s+"][A-Za-z]+\s+[A-Za-z]+)')
backers_info_df

,backer_info,backer_id,cf_id,name
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt
...,...,...,...,...
8170,"{""backer_id"": ""st581"", ""cf_id"": 65, ""name"": ""Serita Thebault"", ""email"": ""sthebault@yandex.com""}",st581,65,Serita Thebault
8171,"{""backer_id"": ""gf637"", ""cf_id"": 563, ""name"": ""Glenn Foerstner"", ""email"": ""gfoerstner@yahoo.com""}",gf637,563,Glenn Foerstner
8172,"{""backer_id"": ""rc983"", ""cf_id"": 1114, ""name"": ""Robt Collin"", ""email"": ""rcollin@outlook.com""}",rc983,1114,Robt Collin
8173,"{""backer_id"": ""cz381"", ""cf_id"": 65, ""name"": ""Corina Zappa"", ""email"": ""czappa@outlook.com""}",cz381,65,Corina Zappa
8174,"{""backer_id"": ""fg535"", ""cf_id"": 65, ""name"": ""Freeman Gibbs"", ""email"": ""fgibbs@outlook.com""}",fg535,65,Freeman Gibbs

In [6]:
# Extract the email from the backer_info column and add it as a new column called "email".
backers_info_df['email'] = backers_info_df['backer_info'].str.extract(r'[^email\s+](\S+@\S+)[^}]')
backers_info_df

,backer_info,backer_id,cf_id,name,email
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent,avincent@live.com
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold,harnold@yandex.com
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet,lgoulet@yandex.com
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli,tbrunelli@outlook.com
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt,lhunt@live.com
...,...,...,...,...,...
8170,"{""backer_id"": ""st581"", ""cf_id"": 65, ""name"": ""Serita Thebault"", ""email"": ""sthebault@yandex.com""}",st581,65,Serita Thebault,sthebault@yandex.com
8171,"{""backer_id"": ""gf637"", ""cf_id"": 563, ""name"": ""Glenn Foerstner"", ""email"": ""gfoerstner@yahoo.com""}",gf637,563,Glenn Foerstner,gfoerstner@yahoo.com
8172,"{""backer_id"": ""rc983"", ""cf_id"": 1114, ""name"": ""Robt Collin"", ""email"": ""rcollin@outlook.com""}",rc983,1114,Robt Collin,rcollin@outlook.com
8173,"{""backer_id"": ""cz381"", ""cf_id"": 65, ""name"": ""Corina Zappa"", ""email"": ""czappa@outlook.com""}",cz381,65,Corina Zappa,czappa@outlook.com
8174,"{""backer_id"": ""fg535"", ""cf_id"": 65, ""name"": ""Freeman Gibbs"", ""email"": ""fgibbs@outlook.com""}",fg535,65,Freeman Gibbs,fgibbs@outlook.com

In [7]:
# Create a new DataFrame with the appropriate columns.
backers_data_df = backers_info_df[['backer_id', 'cf_id', 'name', 'email']]
backers_data_df

     backer_id  cf_id              name                  email
0        av166    968    Angelo Vincent      avincent@live.com
1        ha127    563     Hubert Arnold     harnold@yandex.com
2        lg794     65      Loris Goulet     lgoulet@yandex.com
3        tb566    563  Teodora Brunelli  tbrunelli@outlook.com
4        lh506    563        Lexie Hunt         lhunt@live.com
...        ...    ...               ...                    ...
8170     st581     65   Serita Thebault   sthebault@yandex.com
8171     gf637    563   Glenn Foerstner   gfoerstner@yahoo.com
8172     rc983   1114       Robt Collin    rcollin@outlook.com
8173     cz381     65      Corina Zappa     czappa@outlook.com
8174     fg535     65     Freeman Gibbs     fgibbs@outlook.com

[8175 rows x 4 columns]

In [8]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backers_data_df.to_csv("backers_data.csv", encoding='utf8', index=False)

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [9]:
# Check data types.
backers_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   object
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: object(4)
memory usage: 255.6+ KB

In [10]:
# Convert cf_id to an integer if necessary.
backers_data_df["cf_id"] = pd.to_numeric(backers_data_df["cf_id"])
backers_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   int64
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: int64(1), object(3)
memory usage: 255.6+ KB

C:\Users\trevo\AppData\Local\Temp\ipykernel_24904\2693217887.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  backers_data_df["cf_id"] = pd.to_numeric(backers_data_df["cf_id"])

In [11]:
# Split the "name" column into "first_name" and "last_name" columns.
backers_data_df[["first_name", "last_name"]] = backers_data_df["name"].str.split(' ', n=1, expand=True)
backers_data_df

,backer_id,cf_id,name,email,first_name,last_name
0,av166,968,Angelo Vincent,avincent@live.com,Angelo,Vincent
1,ha127,563,Hubert Arnold,harnold@yandex.com,Hubert,Arnold
2,lg794,65,Loris Goulet,lgoulet@yandex.com,Loris,Goulet
3,tb566,563,Teodora Brunelli,tbrunelli@outlook.com,Teodora,Brunelli
4,lh506,563,Lexie Hunt,lhunt@live.com,Lexie,Hunt
...,...,...,...,...,...,...
8170,st581,65,Serita Thebault,sthebault@yandex.com,Serita,Thebault
8171,gf637,563,Glenn Foerstner,gfoerstner@yahoo.com,Glenn,Foerstner
8172,rc983,1114,Robt Collin,rcollin@outlook.com,Robt,Collin
8173,cz381,65,Corina Zappa,czappa@outlook.com,Corina,Zappa
8174,fg535,65,Freeman Gibbs,fgibbs@outlook.com,Freeman,Gibbs

In [12]:
#  Drop the name column
backers_data_df = backers_data_df.drop(['name'], axis=1)

# Reorder the columns
backers_data_df = backers_data_df[["backer_id", "cf_id", "first_name", "last_name", "email"]]
backers_data_df

     backer_id  cf_id first_name  last_name                  email
0        av166    968     Angelo    Vincent      avincent@live.com
1        ha127    563     Hubert     Arnold     harnold@yandex.com
2        lg794     65      Loris     Goulet     lgoulet@yandex.com
3        tb566    563    Teodora   Brunelli  tbrunelli@outlook.com
4        lh506    563      Lexie       Hunt         lhunt@live.com
...        ...    ...        ...        ...                    ...
8170     st581     65     Serita   Thebault   sthebault@yandex.com
8171     gf637    563      Glenn  Foerstner   gfoerstner@yahoo.com
8172     rc983   1114       Robt     Collin    rcollin@outlook.com
8173     cz381     65     Corina      Zappa     czappa@outlook.com
8174     fg535     65    Freeman      Gibbs     fgibbs@outlook.com

[8175 rows x 5 columns]

In [13]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backers_data_df.to_csv("backers.csv", encoding='utf8', index=False)